.learn-more-btn {
  background-color: #F0F0F0;
  border-radius: 6.5px;
}

.bottom-bar__wrapper {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #FFF;
}

.choose-mockups-container {
  position: relative;
}

.choose-mockups-checkbox {
  position: absolute;
  top: 8px;
  left: 8px;
}

.bg-custom-blue {
  background-color: #2563EB;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: Arial, sans-serif;
}

.tab {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: gray;
  cursor: pointer;
  padding-bottom: 8px;
}

.tab.active {
  color: #0057ff;
  /* blue color */
}

.tab.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0057ff;
  border-radius: 2px;
}

.gap-44 {
  gap: 44px;
}

.custom-tertiary-btn {
  background-color: #EBEBEB;
}

.fixed-footer-left {
  left: 16.5rem;
  margin-top: unset !important;
  margin-bottom: unset !important;
}

.mb-20 {
  margin-bottom: 5rem !important;
}

.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
